<br>
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center">
            <div class="col-12 col-md-7">
                <br>
                <br>
                <br>
                <br>
                <br>
                <!-- <br> -->
                <button class="btn btn-primary" routerLink="/AllUsers" style="width: 400px;font-weight:bold ;padding: 7px;font-size: 30px;letter-spacing: 1px;">Users</button>
                <br>
                <br>
                <button class="btn btn-primary" routerLink="/Exams" style="width: 400px;font-weight:bold ;padding: 7px;font-size: 30px;letter-spacing: 1px;">Exams</button>
            </div> 
            <div class="col-md-5 d-none d-md-inline">
                <img [src]="AdminPanelImage" class="Image">
            </div>
        </div>
    </div>
</div>

